<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
    <meta charset="UTF-8">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<!--/*@thymesVar id="loggedUser" type="su.vvbubnov.JMSpringBoot.models.User"*/-->
<div th:fragment="topInfoPanel">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="col-11">
            <div class="text-white">
                <b><span th:text="${loggedUser.login} + ' '"></span></b>
                <span>with roles: </span>
                <span th:each="role : ${loggedUser.roles}"><span
                        th:text="${role.roleName}+' '">-no role-</span></span>
            </div>
        </div>
        <div class="col-1 text-right">
            <p class="text-right"><a href="/logout" style="color: grey; font-size: small">Logout</a></p>
        </div>
    </nav>
</div>
</body>
</html>