<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <title>Login page</title>
</head>
<body>

<section>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-lg-4"></div>
            <div class="col-lg-3">
                <div class="text-body mt-5">
                    <h4><b>Please sign in</b></h4>
                </div>
                <form action="/login" method="post">
                    <div class="form-row">
                        <label for="username"></label>
                        <input class="form-control" type="text" id="username"
                               name="j_username" placeholder="Login"
                               required="" autofocus="autofocus"/>
                    </div>
                    <div class="form-row">
                        <label for="password"></label>
                        <input class="form-control" type="password" id="password"
                               name="j_password" placeholder="Password"
                               required=""/>
                    </div>
                    <button type="submit" class="btn btn-primary mt-1 btn-block">Sign in</button>
                </form>
            </div>
            <div class="col-lg-4"></div>
        </div>
    </div>
</section>

</body>
</html>
</html>